.header {
    width: 100%;
    height: 75px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(229, 229, 229, 0.25);
    position: fixed;
    z-index: 1;
}

.header__navbar {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {}

.header__nav {}

.header__nav-list {
    display: flex;
    flex-direction: row;
    gap: 116px;
    align-items: center;
    width: 1046px;
}

.header__nav-item {
    height: 100%;
    min-width: 90px;
}

.header__nav-item:hover {
    opacity: 0.8;
}

.header__nav-item:last-child {
    background: #5CB30B;
    border-radius: 8px;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 2.5rem;
}

.header__nav-item:last-child:hover {
    cursor: pointer;
}

.header__nav-item-link {
    text-decoration: none;
    color: #595959;
    font-family: Avenir Next;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 47px;
    height: 22px;
}

.header__nav-item-link-signup {
    color: #FFFFFF;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.header__nav-item-link--active {
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}


/* banner */

.banner__container {
    padding-top: 70px;
}

.banner {
    width: 100%;
    height: 1000px;
    background-image: url('../img/7498.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.banner__text {
    position: absolute;
    width: 331px;
    height: 36px;
    left: 1176px;
    top: 290px;
}

.banner__text-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #1C1C1C;
    padding-bottom: 20px;
}

.banner__text-below {
    width: 400px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 160%;
    /* or 21px */
    color: #1C1C1C;
    padding-bottom: 20px;
}

.banner__button {
    border: none;
    background: #5CB30B;
    border-radius: 8px;
    width: 120px;
    height: 40px;
}

.banner__button:hover {
    opacity: 0.8;
}

.banner__button a {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2.2rem;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}


/* Shipping */

.shipping {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px;
}

.grid__full-width {
    box-shadow: 0px 8px 14px rgba(206, 206, 206, 0.2);
}

.shipping__track {}

.shipping__track-heading {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #1C1C1C;
    padding-bottom: 16px;
}

.shipping__track-search {
    position: relative;
}

.shipping__track-search::after {
    content: "";
    position: absolute;
    right: -130px;
    top: 6px;
    height: 30px;
    width: 100px;
    border-left: 1px solid #e5e5e5;
}

.shipping__track-input {
    width: 230px;
    height: 40px;
    background: #FFFFFF;
    /* Divider/Light/1px - 60% */
    border: 1px solid rgba(228, 228, 228, 0.6);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
}

.shipping__track-button {
    width: 130px;
    height: 40px;
    background: #5CB30B;
    border: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    margin-left: 8px;
    cursor: pointer;
}

.shipping__track-button:hover {
    opacity: 0.8;
}

.shipping__cost {
    display: flex;
    flex-direction: column;
}

.shipping__cost-heading {
    font-family: 'Avenir Next';
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #1c1c1c;
    padding-bottom: 16px;
}

.shipping__cost-input {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.shipping__cost-place {
    height: 40px;
    width: 300px;
    background: #FFFFFF;
    border: 1px solid rgba(228, 228, 228, 0.6);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
}

.shipping__cost-area {
    height: 40px;
    width: 300px;
    padding-left: 16px;
    background: #FFFFFF;
    border: 1px solid rgba(228, 228, 228, 0.6);
    box-sizing: border-box;
    border-radius: 8px;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
}

.shipping__cost-weight {
    height: 40px;
    width: 160px;
    background: #FFFFFF;
    border: 1px solid rgba(228, 228, 228, 0.6);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.6;
}

.shipping__cost-check {
    border: none;
    height: 40px;
    width: 130px;
    background: #316FC3;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}

.shipping__cost-check:hover {
    opacity: 0.8;
}

.shipping__detail {
    padding: 10px 0 30px;
}

.shipping__detail-description {
    font-family: 'Avenir Next';
    font-style: normal;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 22px;
    padding-bottom: 20px;
    color: #595959;
}

.shipping__detail-description-text {
    font-family: 'Avenir Next';
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: rgba(34, 34, 34, 0.75);
}

.shipping__detail-description-text span {
    font-weight: 700;
}

.shipping__weight-detail {
    display: flex;
    margin: 30px 0 90px;
    background: #FFFFFF;
    border-radius: 18px;
    position: relative;
    justify-content: space-between;
    box-shadow: 8px 26px 10px 50px #fcfcfc;
    padding: 38px 44px;
}

.shipping__weight-detail-img {}

.shipping__weight-detail-heading {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #595959;
    padding-bottom: 20px;
}

.shipping__weight-detail-airfreight {
    width: 560px;
    position: relative;
    top: 50px;
}

.shipping__weight-detail-airfreight-button {
    position: absolute;
    right: 24px;
    top: 26px;
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    background: #FFC22B;
    border-radius: 4px;
    height: 30px;
    width: 107px;
    border-radius: 4px;
    text-transform: uppercase;
    border: none;
}

.shipping__weight-detail-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0 20px;
}

.shipping__weight-detail-info-cost-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #6E7A7B;
}

.shipping__weight-detail-price-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #6E7A7B;
    width: 66px;
    text-align: left;
}

.shipping__weight-detail-colored {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgba(162, 212, 116, 0.1);
    border-radius: 24.3218px;
    height: 40px;
    width: auto;
    align-items: center;
    padding: 0 20px;
}

.shipping__weight-detail-colored-kg {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.122778px;
    color: #000000;
}

.shipping__weight-detail-colored-kg-price {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.122778px;
    color: #000000;
    width: 66px;
    text-align: left;
}

.shipping__weight-detail-white {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: auto;
    align-items: center;
    padding: 0 20px;
}

.shipping__weight-detail-white-kg {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.122778px;
    color: #000000;
}

.shipping__weight-detail-white-kg-price {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.122778px;
    color: #000000;
    width: 66px;
    text-align: left;
}


/* Shipping method */

.shipping__method-container {
    height: 720px;
    display: flex;
    padding-top: 245px;
    margin-bottom: 50px;
}

.shipping__method-box {}

.shipping__method-box img {
    margin-top: -245px;
}

.shipping__method {
    display: flex;
    margin-bottom: 24px;
}

.shipping__method-number {
    width: 36px;
    height: 36px;
    background: #5CB30B;
    box-shadow: 0px 0px 18px rgba(23, 151, 146, 0.25);
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    color: #FFFFFF;
}

.shipping__method-detail {
    width: 316px;
    padding-left: 24px;
    margin-bottom: 10px;
}

.shipping__method-detail-heading {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 700;
    font-size: 20.8612px;
    line-height: 24px;
    color: #222222;
    margin-bottom: 12px;
}

.shipping__method-detail-text {
    font-family: 'Avenir Next';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: rgba(34, 34, 34, 0.75);
}


/* Truck transport */

.truck-transport {}

.truck-transport__method {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'DM Sans';
    font-style: normal;
    margin: 90px 0 30px;
}

.truck-transport__method-commit {}

.truck-transport__method-commit-icon {
    font-size: 30px;
    color: #5CB30B;
    padding-bottom: 20px;
}

.truck-transport__method-commit-text {
    width: 184px;
    font-weight: 700;
    font-size: 18.7091px;
    line-height: 24px;
    letter-spacing: -0.311818px;
    color: #000000;
}

.truck-transport__method-packet {}

.truck-transport__method-packet-heading {
    font-weight: 700;
    font-size: 18.7091px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.311818px;
    color: #000000;
}

.truck-transport__method-packet-des {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.935454px;
    color: #000000;
    padding-bottom: 12 0px;
    padding-bottom: 120px;
}

.truck-transport__method-packet-btn {
    background: rgba(162, 212, 116, 0.1);
    border-radius: 24px;
    color: #5CB30B;
    font-weight: 700;
    height: 48px;
    width: 158px;
    border: none;
    cursor: pointer;
}

.truck-transport__method-packet-btn:hover {
    opacity: 0.8;
}

.truck-transport__method-packet--active {
    background: #5CB30B;
    border-radius: 24px;
    padding: 40px;
}

.truck-transport__method-packet--active .truck-transport__method-packet-btn {
    background: #FFFFFF;
    border-radius: 24px;
    font-weight: 700;
}

.truck-transport__method-packet--active .truck-transport__method-packet-heading,
.truck-transport__method-packet--active .truck-transport__method-packet-des {
    color: #FFFFFF;
}

.truck-transport__method-price-title {
    padding-right: 80px;
}

.truck-transport__method-price-title p {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.truck-transport__method-price {
    width: 100%;
    margin-bottom: 60px;
}

.truck-transport__method--colored {
    height: 78px;
    padding-right: 80px;
}

.truck-transport__method--white {
    height: 78px;
    padding-right: 80px;
}

.truck-transport__method--colored p,
.truck-transport__method--white p {
    font-weight: 700;
    font-size: 13px;
    color: #000;
}


/* Footer */

.footer__banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(90.04deg, #5CB30B 0.04%, #2D9209 65.51%);
    border-radius: 12px;
    height: 170px;
    position: relative;
    top: 80px;
    margin: 0 100px;
}

.footer__banner-info {}

.footer__banner-info-heading {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24.7307px;
    line-height: 34px;
    color: #FFFFFF;
}

.footer__banner-info-text {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15.7377px;
    line-height: 21px;
    color: #FFFFFF;
}

.footer__banner-btn {
    z-index: 1;
}

.footer__banner-try {
    background: #61C702;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    height: 58px;
    width: 142px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.footer__banner-try:hover {
    opacity: 0.8;
}

.footer__banner-signup {
    background: #FFFFFF;
    border-radius: 6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #003156;
    height: 58px;
    width: 142px;
    border: none;
    cursor: pointer;
}

.footer__banner-signup:hover {
    opacity: 0.5;
}

.footer__banner-info-vector {
    position: absolute;
    width: 100%;
    height: 115.78px;
    left: 0;
    top: 55px;
    opacity: 1;
}

.footer__banner-info-vector2 {
    position: absolute;
    width: 100%;
    height: 111.89px;
    left: 0;
    top: 62px;
}

.footer__info {
    background: #F7F7FA;
    display: flex;
    padding: 200px 100px 50px;
    text-align: center;
}

.footer__info-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #172029;
    padding-bottom: 20px;
}

.footer__info-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15.7377px;
    line-height: 18px;
    /* Black */
    color: #172029;
    padding-bottom: 20px;
    display: block;
    text-decoration: none;
}

.footer__info-text:hover {
    opacity: 0.8;
}

.footer__info-about {}

.footer__info-impact {}

.footer__info-berita {}

.footer__info-social {}

.grid__column-left {
    text-align: left;
}

.grid__column-right {
    text-align: right;
}

.copy-right {
    background: #F7F7FA;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}