@media only screen and (min-width: 596px) {
    .header__logo-mobile {
        display: none;
    }
    .header__menu-mobile {
        display: none;
    }
    .overlay {
        display: none;
    }
    .mobile__menu {
        display: none;
    }
}

@media only screen and (min-width: 596px) and (max-width: 1300px) {
    .header__navbar {
        margin: 0 50px;
    }
}


@media only screen and (max-width: 595px) {
    .header {
        background-image: url('../img/mobile.png') ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
    }
    .header__nav {
        display: none;
    }
    .header__btn {
        display: none;
    }
    .header__logo {
        display: none;
    }
    .header__navbar {
        width: 90%;
    }
    .header__banner {
        width: 95%;
    }
    .header__banner-heading, .header__banner-subheading {
        font-size: 3.6rem;
    }
    .header__banner-des {
        max-width: 300px;
        font-size: 1.4rem;
        line-height: 150%;
    }
    .header__banner-btn-box p {
        display: none;
    }
    .header__banner-btn-box img {
        display: none;
    }
    .header__img-tab {
        max-width: 300px;
        flex-direction: column;
    }
    .header__img-tab img:nth-child(1) {
        transform: rotate(-4deg);
    }
    .header__img-tab img:nth-child(2) {
        margin-top: -4%;
    }
    .header__img-tab img:nth-child(3) {
        transform: rotate(-1deg);
        margin: -7% 0 0 0%;
    }
    .header__img-tab img:nth-child(4) {
        transform: rotate(4deg);
        margin: -5% 0 0 0%;
    }
    .section__heading {
        padding-top: 70px;
        font-size: 3.6rem;
    }

    .section__first {
        height: 590px;
    }

    .section__body {
        justify-content: center;
    }

    .section__body-img img {
        width: 320px;
        height: 70px;
    }
    .section__body-img {
        padding: 22px 24px;
    }
    .section__body-text1 {
        bottom: -50%;
        left: 6%;
    }
    .section__body-arrow1 {
        top: 87%;
        left: 16%;
        transform: rotate(-123deg);
    }
    .section__body-text2 {
        top: -44%;
        right: 8%;
    }
    .section__body-arrow2 {
        top: -18%;
        right: 18%;
        transform: scaleX(-1) rotate(-22deg);
    }
    .section__text {
        max-width: 330px;
        font-size: 1.4rem;
        font-weight: 600;
    }
    .section__heading-mix {
        font-size: 3.6rem;
        line-height: 4.3rem;
        padding: 0 10px;
    }
    .section__third-heading {
        font-size: 3.6rem;
        line-height: 4.3rem;
        text-align: center;
        max-width: 400px;
        font-weight: 900;
        text-align: center;
    }
    .section__third-cooperate {
        padding: 0 26px;
        gap: 20px;
    }
    .section__third-cooperate-wrapper {
        width: 162px;
        height: 74px;
    }
    .section__third-cooperate-wrapper img {
        max-width: 115px;
    }
    .section__third-cooperate1,
    .section__third-cooperate2,
    .section__third-cooperate3,
    .section__third-cooperate4 {
        flex-wrap: wrap;
        gap: 20px;
    }
    .section__fourth-platform {
        overflow: scroll;
        padding-bottom: 20px;
        gap: 18px;
        margin-left: 18px;
    }
    .section__fourth-platform-img-wrapper {
        width: 64px;
        height: 64px;
        flex-shrink: 0;
    }
    .section__fourth-platform-img-wrapper img {
        width: 30px;
        height: 30px;
    }
    .section__fourth-twitter {
        gap: 28px;
    }
    .section__fourth-twitter img {
        max-width: 380px;
    }
    .section__fourth-viewmore {
        width: 152px;
        height: 44px;
        font-size: 1.4rem;
        line-height: 140%;
        margin: 40px auto 50px;
    }
    .section__fifth {
        height: inherit;
    }
    .section__third-heading {
        font-size: 3.6rem;
    }
    .section__third-heading span {
        white-space: pre;
    }
    .section__fifth-discount {
        top: 160%;
        right: 13%;
    }
    .section__fifth-discount-arrow {
        top: 86%;
        right: 22%;
        transform: scaleX(-1) rotate(-104deg);
    }
    .section__fifth-prices {
        flex-direction: column;
        margin: 100px auto 0;
        align-items: center;
    }
    .section__fifth-prices-box {
        width: 339px;
        height: 602px;
        margin-bottom: 50px;
    }

    .section__fifth-prices-box:last-child {
        margin-bottom: 100px;
    }

    .section__fifth-prices-box-heading {
        font-size: 3.2rem;
    }
    .section__fifth-prices-box-des {
        font-size: 1.8rem;
    }
    .section__fifth-prices-box-price {
        font-size: 6rem;
    }
    .section__fifth-prices-box-price span {
        font-size: 1.8rem;
    }
    .section__fifth-prices-box-btn {
        width: calc(100% - 52px);
    }
    .section__sixth {
        height: 340px;
    }
    .section__sixth-heading {
        padding-top: 80px;
    }
    .section__sixth-button {
        width: 106px;
        height: 44px;
        font-size: 1.4rem;
    }
    .footer__wrapper {
        height: 480px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .footer__details {
        width: 100%;
        height: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
    }

    /* Mobile menu */
    .header__menu-mobile {
        width: 24px;
        height: 24px;
        font-size: 2.4rem;
        color: var(--white-color);
    }
    /* mobile menu */

    .overlay {
        width: 100%;
        height: auto;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        display: none;
    }

    .mobile__menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 724px;
        z-index: 4;
        background-color: var(--black-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: none;
        transition:  ease-in 1s;
    }
    .mobile__menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 100px;
    }

    .mobile__menu-header i {
        width: 24px;
        height: 24px;
        font-size: 2.4rem;
        color: var(--white-color);
    }

    .mobile__menu-body {
        text-align: center;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mobile__menu-body-list {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .mobile__menu-body-list a {
        font-size: 1.8rem;
        color: var(--white-color);
    }

    .mobile__menu-body-btn {
        width: 129px;
        height: 42px;
        border-radius: 40px;
        background-color: var(--white-color);
        color: var(--black-color);
        font-weight: 600;
        display: block;
        margin: 0 auto 50px;
    }
    .show {
        display: flex;
    }

}